<h1>
    Order Your Pizzas
</h1>

<h2>{{note}}</h2>

<form action="{% url 'pizzas' %}" method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <table>
        {% for form in formset %}
            <tr>
                <td>{{ form.size.label_tag }} {{ form.size }}</td>
                <td>{{ form.topping1.label_tag }} {{ form.topping1 }}</td>
                <td>{{ form.topping2.label_tag }} {{ form.topping2 }}</td>
            </tr>
        {% endfor %}
    </table>
    <button type="submit">Order Now</button>

</form>